<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game details</title>
    <link rel="stylesheet" href="./static/img/css/details.css">
</head>
<body style="background-color: #1a1a1a; color: #fff;">
    <div class="container">
        <div class="info">
            <h1>{{ game['name'] }}</h1>
            <div class="game-detail">
                <div class="description">
                    <h2>About</h2>
                    <span>{{ game['description'] }}</span>
                </div>
                <div class="genre">
                    <h3>Genres</h3>
                    <span>{{ game['genres'] }}</span>
                </div>
                <div class="platform">
                    <h3>Platforms</h3>
                    <span>{{ game['platforms'] }}</span>
                </div>
                <div class="developer">
                    <h3>Developers</h3>
                    <span>{{ game['developers'] }}</span>
                </div>
                <div class="publisher">
                    <h3>Publishers</h3>
                    <span>{{ game['publishers'] }}</span>
                </div>
                <div class="tag">
                    <h3>Tags</h3>
                    <span>{{ game['tags'] }}</span>
                </div>
            </div>
        </div>
        <div class="game-image">
            <img src="{{ game['img'] }}" alt="Game Image">
        </div>
    </div>
</body>
</html>
