<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="background-color: #000; color: #fff;">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img class="img-fluid" src="./static/img/ee84a4cde52f267a64a9fa6b5549defa.jpg">
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <form method="GET" action="{{ url_for('search') }}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="keyword" placeholder="Type to search..." style="background-color: #222; color: #fff; border-color: #444;">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
