<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Search Result</title>
    <link rel="stylesheet" href="./static/img/css/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Search Result for "{{ keyword }}"</h1>
            <a href="{{ url_for('index') }}" class="btn">Return to Main</a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                {% for doc in hits %}
                <div class="box">
                    <div class="game-image" style="background-image: url('{{ doc['img'] }}');">
                        {% if doc['img'] %}
                        <img src="{{ doc['img'] }}" alt="Game Image" style="display: none;">
                        {% else %}
                        <img class="no-image-placeholder" src="/static/img/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg">
                        {% endif %}
                    </div>
                    <h2>{{ doc['name'] }}</h2>
                    <a href="{{ url_for('details', game_id=doc['id']) }} " class="details">View Details</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; {{ current_year }} BBP Ultimate Sugoi Universe Best Game Search</p>
    </footer>
</body>
</html>
